/* Default light theme */
body {
  background-color: grey;
  color: black;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }

  /* Modify other styles for dark mode as needed */
  a {
    color: #BB86FC;
  }
  header, footer {
    background-color: #333;
  }
}

/* Sections */
.intro {
  background-color: #184FA1;
  padding: 20px;
  color: black;
}

.resources {
  background-color: #091F35;
  padding: 20px;
  color: white;
}

.outro {
  background-color: black;
  padding: 20px;
  color: white;
}